<div class="container-fluid min-vh-100 bg-light d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card shadow border-0 rounded-4 p-4">
          <h2 class="text-center mb-4">Complètez votre profil</h2>

          <%= render "formulaire", profile: @profile %>
        </div>
      </div>
    </div>
  </div>
</div>
